.bar-container {
    position: relative;
    width: 356px;
    height: auto;
    background: transparent linear-gradient(162deg, #3718B2 0%, #CD33A4 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.logo {
    position: absolute;
    top: 44px;
    left: 57px;
    width: 114px;
    height: 47px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 38px;
    font-weight: 900;
}

@media (max-width: 400px) {
    .bar-container {
    width: auto;
    height: 51px;
    }

    .logo {
    top: -3px;
    left: 18px;
    width: 66px;
    height: 27px;
    font-size: 22px;
    }
}